.Intro {
  display: flex;
  margin-top: 25px;
}
.intro-l {
  width: 20%;
  height: 180px;
  background: #f4f4f4;
}
.intro-r {
  width: 80%;
  padding: 0 15px;
  margin-top: -10px;
  transition: all 0.5s ease-in-out;
  h2 {
    border-bottom: 1px solid gray;
  }
  p {
    line-height: 2;
    text-align: justify;
    margin-top: 8px;
  }
}
.intro-btn-div {
  width: 100%;
  text-align: right;
  display: none;
}
.intro-btn {
  border: 0;
  background: #f4f4f4;
  border-radius: 5px;
  padding: 3px 15px;
  margin-bottom: 5px;
  &:focus,
  &:active {
    outline: 0;
    opacity: 0.8;
  }
}

@media screen and (max-width: 991px) {
  .intro-l {
    width: 20vw;
    height: 20vw;
  }
}

@media screen and (max-width: 767px) {
  .Intro {
    flex-wrap: wrap;
  }
  .intro-l {
    display: none;
  }
  .intro-r {
    width: 100%;
    padding: 0;
    margin-top: 10px;
    overflow: hidden;
  }
  .intro-btn-div {
    display: block;
  }
}
