.about-section-2 {
  width: 100%;
  margin-top: 25px;
  display: flex;
  div {
    width: calc(100% / 3);
    margin: 0 10px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .about-section-2 {
    display: none;
  }
}
