.project-img-two {
  width: 100%;
  display: flex;
  margin-top: 50px;
}
.pi-two {
  width: 50%;
  margin: 0 5px;
}

@media screen and (max-width: 767px) {
  .project-img-two {
    flex-wrap: wrap;
    margin-top: 5px;
  }
  .pi-two {
    width: 100%;
    margin: 5px 0;
  }
}
